/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Upheaval TT -BRK-';
  font-style: normal;
  font-weight: normal;
  
  src: local('Upheaval TT -BRK-'), url('/upheavtt.woff') format('woff');
  }
html {
  background-color: #562b1f;
height:100vh;
  width:100vw;
  position: relative;
}

main {
  position: relative;
  width: 100vw;
}

.body-title {
  color:  #fff600;
  font-family: 'Upheaval TT -BRK-';
}

.header-top-bg {
  position: absolute;
  top: 0;
  left:0;
  right:0;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(5,41,66);
  background: linear-gradient(180deg, rgba(5,41,66,1) 0%, rgba(5,59,122,1) 62%);
}
.header-top-bg .blue {
  /* background-color: #01355b; */
  
  max-height: 700px;
  overflow: hidden;
  height: 83vw;
  background-image: url('/wall-bottom-tile.png');
  background-position: bottom left;
  background-repeat: repeat-x;
  
}
/* .header-top-bg .brown {
  background-color: #562b1f;
  padding: 13%;
} */
.header-top-img {
  width: 100vw;
  position: relative;
}
.header-top-img img {
  margin: 10px auto 0;
}

.sweaterCarousel {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin-top: -430px
}

.sweaterCarousel img{
  max-width: 700px;
  display: flex;
  align-self: center;

}
.sweaterNavigation {
  width: 80%;
  margin: auto;
  max-width: 1400px;
  display: flex;
  margin-top: -500px;
  margin-bottom: 420px;
  
  justify-content: space-between;
  flex-direction: row;
}
@media (max-width: 599px) { 
  .sweaterCarousel {
    margin-top: -200px
  }
  .sweaterNavigation {
    margin-top: -200px;
    margin-bottom: 130px;
  }

  .sweaterCarousel img{
    max-width: 360px;
  }
}



.arrowRight {
  border: solid #fff600;
  border-width: 0 20px 20px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(-45deg);
}

.arrowLeft {
  border: solid #fff600 ;
  border-width: 0 20px 20px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(135deg);
  
}
@media (max-width: 599px) { 
  .logo {
    width: 200px
  }
}



.title-shadow {
  text-shadow: #0b0b0b91 1px 2px 3px;
}


.mint-section { 
  margin-top: -900px;
}
.mint-box {
  width: 789px;
  position:relative;
  margin: 0 auto;
}
.mint-box-content {
  background: url('/mint-box-background.png') top left repeat;
  padding-left: 95px;
  padding-right: 95px;
  padding-top:10px;
  padding-bottom: 20px;
}
.mint-box-top{
  background: url('/mint-box-top.png') top left no-repeat;
  width: 789px;
  height: 92px;
  margin-top: -92px;
}

.mint-box-bottom{
  background: url('/mint-box-bottom.png') top left no-repeat;
  width: 789px;
  height: 92px;
  margin-bottom: -92px;
}


.progress {
  margin: 64px auto 4px;
  padding: 2px;
  width: 100%;
  max-width: 500px;
  border: 3px solid #e3b179;
  height: 50px;
}

.progress .progress__bar {
  height: 100%;
  width: 0%;
  background-color: #4ea97d;
}

.mint-progress-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px auto 10px;
  width: 100%;
  max-width: 500px;
}

.mint-progress-label p {
  display: block;
  color: #770200;
  font-family: "Press Start 2P";
}

.mint-progress-text {
  color: #770200;
  text-align: center;
}

.mint-box-form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  display:flex;
  flex-direction: row;
  justify-content: center;
}


.mint-box-input{
  /* border: 2px solid #770200; */
  width: 80px;
  border: none;
  background: url('/mint-input.png') top left no-repeat;
  text-align: center;
  height: 60px;
  padding: 10px;
  display: block;
  color: #770200;
  font-family: "Press Start 2P";
  margin-right: 8px;
}
.mint-button {
  width:140px;
  display: block;
  height: 60px;
  font-family: "Press Start 2P";
  color: white;
  background: url('/mint-btn.png') top left no-repeat;
  overflow: hidden;
}

.mint-button:hover {
  opacity: 0.6
}