/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Upheaval TT -BRK-';
  font-style: normal;
  font-weight: normal;
  
  src: local('Upheaval TT -BRK-'), url('/upheavtt.woff') format('woff');
  }
html {
  background-color: #562b1f;
height:100vh;
  width:100vw;
  position: relative;
}

main {
  position: relative;
  width: 100vw;
}

.body-title {
  color:  #fff600;
  font-family: 'Upheaval TT -BRK-';
}

.header-top-bg {
  position: absolute;
  top: 0;
  left:0;
  right:0;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(5,41,66);
  background: linear-gradient(180deg, rgba(5,41,66,1) 0%, rgba(5,59,122,1) 62%);
}
.header-top-bg .blue {
  /* background-color: #01355b; */
  
  max-height: 700px;
  overflow: hidden;
  height: 83vw;
  background-image: url('/wall-bottom-tile.png');
  background-position: bottom left;
  background-repeat: repeat-x;
  
}
/* .header-top-bg .brown {
  background-color: #562b1f;
  padding: 13%;
} */
.header-top-img {
  width: 100vw;
  position: relative;
}
.header-top-img img {
  margin: 10px auto 0;
}



.sweaterCarousel {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin-top: -500px
}

.sweaterCarousel img{
  max-width: 700px;
  display: flex;
  align-self: center;

}
@media (max-width: 599px) { 

  .sweaterCarousel {
    margin-top: -300px
  }
  .sweaterCarousel img{
    max-width: 480px;
  }
}

.sweaterNavigation {
  width: 80%;
  margin: auto;
  max-width: 1400px;
  display: flex;
  margin-top: -300px;
  margin-bottom: 200px;
  justify-content: space-between;
  flex-direction: row;
}

.arrowRight {
  border: solid #fff600;
  border-width: 0 20px 20px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(-45deg);
}

.arrowLeft {
  border: solid #fff600 ;
  border-width: 0 20px 20px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(135deg);
  
}

.logo {
  width: 300px
}


.title-shadow {
  text-shadow: #0b0b0b91 1px 2px 3px;
}